<%- include("partials/header") -%>
<h1 class="p-2">Home</h1>

<p><%= homeContent %></p>
<div class="text-right">
  <a href="/compose" class="btn btn-primary"
    ><span class="fa-sharp fa-solid fa-pen-to-square"></span
  ></a>
</div>

<% postData.forEach((post) => {%>
<h1><%=post.title%></h1>

<p>
  <%= post.content.substring(0,100) + " ..." %>
  <a href="/posts/<%= post.title%>">Read More</a>
</p>
<% }) %> <%-include("partials/footer") -%>
